@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
}

@media (max-width:640px) {
  

  .section{
    height: 300px;
  }


.rightSection{
  display: none;
  height: 0px;
  width: 0px;
}

    #resumeBtn{
      display: none;
    }

    .header{
      position: relative;
    }

    .hamburger>i{
      display: block;
    }

    .navmenu {
      position: absolute;
      width: 100vw;
      height: 45vh;
      top:15vh;
      z-index: 99;
      background-color:#CCFB90 ;
      color:#0C151D;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      
    opacity: 0;
    visibility: hidden;
    transform: 0.3s all linear;

    
    }


    .active{
      transition: 0.3s all linear;
      opacity: 1;
      visibility: visible;
    }
  

    .navList{
     flex-direction: column;
    }
  
   
    /* Main Home page Section Media Query  */


    .section{
      display: inline-block;
      

    }

    .leftSection{
      padding:40px 80px;
      height: 20%; 
  
    }


    .leftSection>.Carrer>h1{
      font-size: 40px;
    }
    .leftSection>.Skill>p{
      font-size: 10px;
      line-height: 15px;
      width: 100%;
    }

    .rightSection{
      margin-top:200px;
    }


   
  .AboutPage{
    display: inline-block;
    margin:auto;
  }

  .Aboutleft{
    height: 70vh;
    margin:auto;
    width: 100%;
  }

  .Aboutright{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding:0px;
  }

  .contactInfo
    {
      height: 50vh;
      width: 65vw;
    }
    .ResumeInfo
    {
      height: 50vh;
      width: 65vw;
    }




    }



              /* 500px Media Query Start From Here */













    
    @media (max-width:500px) {
  
    
     
      body{
        overflow-x: none;
        overflow-y:none;
      }
  
      /* Main Home page Section Media Query  */
  
      .logo>img{
        height: 100px;
        width: 180px;
      }



      .section{
        display: inline-block;
        

      }
  
      .leftSection{
        padding:20px 30px;
        height: 20%; 
    
      }
  
  
      .leftSection>.Carrer>h1{
        font-size: 40px;
      }
      .leftSection>.Skill>p{
        font-size: 10px;
        line-height: 15px;
        width: 100%;
      }

      .leftSection>.Line{
        width: 300px;
        height:1px;
        margin-top:40px;
        background-color: white;
        position: relative;
        z-index: 10;
        
    }

      .rightSection{
        margin-top:200px;
      }
      .rightSection>img{
        height: 40vh;
        width: 100vw;
      }


      .header{
        position: relative;
        height: 15vh;
        width: 100%;
      }

      .hamburger>i{
        display: block;
        padding-right:30px;
      }

      .navbar{
        gap:140px;
      }
      .logo{
        padding-top:10px;
      }
      
      .navmenu {
        position: absolute;
        width: 100vw;
        height: 45vh;
        top:15vh;
        z-index: 99;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#CCFB90 ;
        opacity: 0;
        visibility: hidden;
        transform: 0.3s all linear;
      }
      .navmenu li a{ 
      color:#0C151D;
      font-weight: bold;
      }
  
      .active{
        transition: 0.3s all linear;
        opacity: 1;
        visibility: visible;
      }
  

      #scrollBtn {
       
        font-size: 15px;
        background: #CCFB90;
        color: #0C151D;
      }

      .portfolioLine{

        margin-top:20px;
        height: 1px;
        width: 100%;
        background-color: white;
      }

      .cart{
        height: 70vh;
        width: 100vw;
        background-color: #ffffff;
        border-radius: 1%;
        flex-direction: column;
        background-color: #151D28;
        padding:20px;
        margin-top:20px;
        
        
      }
     
      .ContactSection
      {
        padding:0px;
      }
    .contactInfo
    {
      height: 50vh;
      width: 80vw;
    }
    .contactInfo>h2{
      display: flex;
      align-items: center;
      justify-content: center;
      color:#CCFB90;
      height: 25%;
      font-size: 18px;
      letter-spacing: 1px;
    }
    .LineC{
      height: 1px;
      width: 30vw;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .personal{
      justify-content: center;
      height: 30vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap:20px;flex-wrap: wrap;
    }
    

    .phoneNumber>i{
      font-size: 15px;
      color:#c4c8d0;
    }
    .phoneNumber>h3{
      color:#71747A;
      letter-spacing: 1px;
      font-size: 15px;
    }
    
  
    
    .Email{
      display: flex;
      padding-left:10px;
      gap:5px;
    }
    .Email>i{
      font-size: 18px;
      color:#c4c8d0;
    }
  
    .ResumeInfo
    {
      height: 40vh;
      width: 80vw;
    }


    .backtotop{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    footer{
      height: 20vh;
    }
    .Gratitude{
      font-size: 18px;
    }
  }